
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Identificación</mat-label>
        <input matInput placeholder="Identificación" #nit="ngModel" required id="nit" name="nit"  [(ngModel)]="datosInfoFamilia.nit" (ngModelChange)="datosInfoFamilia.nit = $event.toUpperCase()" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre </mat-label>
        <input matInput placeholder="Nombre Familiar" #nombreFamiliar="ngModel" required id="nombreFamiliar" name="nombre"  [(ngModel)]="datosInfoFamilia.nombre" (ngModelChange)="datosInfoFamilia.nombre = $event.toUpperCase()" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="nacimiento" name="fechaNace" [(ngModel)]="datosInfoFamilia.fechaNace"
        #fechaNace="ngModel" required id="fechaNace"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="nacimiento"
        ></mat-datepicker-toggle>
        <mat-datepicker #nacimiento></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <mat-date-range-input [rangePicker]="nacPariente">
          <input matStartDate placeholder="Inicio" />
          <input matEndDate placeholder="Culminación" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="nacPariente"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #nacPariente></mat-date-range-picker>
      </mat-form-field>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Parentesco</mat-label>
        <mat-select placeholder="Parentesco" #id_Parentesco="ngModel" required id="id_Parentesco" name="id_Parentesco"  [(ngModel)]="datosInfoFamilia.id_Parentesco">
          <mat-option
            *ngFor="let parentesco of parentescos"
            [value]="parentesco.value"
          >
            {{ parentesco.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono / móvil</mat-label>
        <input matInput placeholder="Teléfono / móvil" #telResidencia="ngModel" required id="telResidencia" name="telResidencia"  [(ngModel)]="datosInfoFamilia.telResidencia" />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-flat-button color="primary">Adicionar</button>
  <div class="step-btn-container">
    <button class="stepper-main-btn" mat-button matStepperPrevious>
      Atrás
    </button>
    <button type="button" class="stepper-main-btn" mat-button (click)="guardarProgreso()">
      Guardar Progreso
    </button>
    <button type="button" class="stepper-main-btn" mat-button (click)="enviarFormulario()">
      Enviar
    </button>
    <!-- <button
      class="stepper-main-btn"
      mat-button
      (click)="stepper.reset()"
    >
      Reset
    </button> -->
  </div>
