
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile [colspan]="colsAlt">
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Tipo Candidato</mat-label>
        <mat-select  (ngModelChange)="onChange($event)"
        [(ngModel)]="datosBasicos.id_tipo_candidato"
        name="id_tipo_candidato" require>
          <mat-option
            *ngFor="let tipoCandidato of tiposCandidato"
            [value]="tipoCandidato.value"
          >
            {{ tipoCandidato.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>badge </mat-icon>
    <h2 class="subtitle-hv">Identificación</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <!-- <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar Tipo Candidato</mat-label>
                <mat-select>
                  <mat-option *ngFor="let tipoCandidato of tiposCandidato" [value]="tipoCandidato.value">
                    {{tipoCandidato.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </mat-grid-tile> -->
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Identificación</mat-label>
        <input
          matInput
          placeholder="Identificación"

          required
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Tipo Documento</mat-label>
        <mat-select  [(ngModel)]="datosBasicos.id_rh_tipo_documento"
        name="id_rh_tipo_documento" require>
          <mat-option
            *ngFor="let tipoDoc of tiposDoc"
            [value]="tipoDoc.value"
          >
            {{ tipoDoc.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Expedición</mat-label>
        <input matInput [matDatepicker]="expedicion"
        [(ngModel)]="datosBasicos.fecExpedicion"
        name="fecExpedicion" require/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="expedicion"
        ></mat-datepicker-toggle>
        <mat-datepicker #expedicion></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>south_america </mat-icon>
    <h2 class="subtitle-hv">Lugar de Expedición</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar País Exp</mat-label>
        <mat-select [(ngModel)]="datosBasicos.id_cot_cliente_pais"
        name="id_cot_cliente_pais" require>
          <mat-option
            *ngFor="let pais of paises"
            [value]="pais.value"
          >
            {{ pais.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Departamento Exp</mat-label>
        <mat-select [(ngModel)]="depto"
        name="depto" require>
          <mat-option
            *ngFor="let depto of deptos"
            [value]="depto.value"
          >
            {{ depto.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Ciudad Exp</mat-label>
        <mat-select [(ngModel)]="ciudad"
        name="ciudad" require>
          <mat-option
            *ngFor="let ciudad of ciudades"
            [value]="ciudad.value"
          >
            {{ ciudad.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>person </mat-icon>
    <h2 class="subtitle-hv">Información Personal</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Nombre"
          name="nombre"
          [(ngModel)]="datosBasicos.nombre"
          (ngModelChange)="datosBasicos.nombre = $event.toUpperCase()"
          required
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" name="apellido"
        [(ngModel)]="datosBasicos.apellido"
        (ngModelChange)="datosBasicos.apellido = $event.toUpperCase()"
        required />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container-hv-radios">
        <mat-label>Género:</mat-label>
        <mat-radio-group aria-label="Select an option"  name="genero"
        [(ngModel)]="datosBasicos.genero"
        required color="primary">
          <mat-radio-button [value]="0">Femenino</mat-radio-button>
          <mat-radio-button [value]="1">Masculino</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="nacimiento" name="fecha_nacimiento" [(ngModel)]="datosBasicos.fecha_nacimiento"
        required/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="nacimiento"
        ></mat-datepicker-toggle>
        <mat-datepicker #nacimiento></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Estado Civil</mat-label>
        <mat-select name="idRhEstadoCivil" [(ngModel)]="datosBasicos.idRhEstadoCivil"
        required>
          <mat-option
            *ngFor="let estadoCivil of estados"
            [value]="estadoCivil.value"
          >
            {{ estadoCivil.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" name="telefono" [(ngModel)]="datosBasicos.telefono"
        required />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input
          matInput
          type="email"
          placeholder="Correo"
          name="mail" [(ngModel)]="datosBasicos.mail"
        required
        />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Celular" name="celular" [(ngModel)]="datosBasicos.celular"
        required />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>location_on</mat-icon>
    <h2 class="subtitle-hv">Datos de Ubicación</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="datosBasicos.direccion"
        required />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar País</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let pais of paises"
            [value]="pais.value"
          >
            {{ pais.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Departamento</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let depto of deptos"
            [value]="depto.value"
          >
            {{ depto.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Ciudad</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let ciudad of ciudades"
            [value]="ciudad.value"
          >
            {{ ciudad.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Barrio</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let barrio of barrios"
            [value]="barrio.value"
          >
            {{ barrio.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>school </mat-icon>
    <h2 class="subtitle-hv">Experiencia</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Experiencia Especifica</mat-label>
        <mat-select name="id_rh_experiencia" [(ngModel)]="datosBasicos.id_rh_experiencia"
        required>
          <mat-option
            *ngFor="let anioExp of aniosExp"
            [value]="anioExp.value"
          >
            {{ anioExp.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Nivel Académico</mat-label>
        <mat-select name="id_rh_nivel_academico" [(ngModel)]="datosBasicos.id_rh_nivel_academico"
        required>
          <mat-option
            *ngFor="let tipoDoc of tiposDoc"
            [value]="tipoDoc.value"
          >
            {{ tipoDoc.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Cargo al que Aplica</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let cargo of cargos"
            [value]="cargo.value"
          >
            {{ cargo.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon
      ><span class="material-symbols-outlined"> translate </span>
    </mat-icon>
    <h2 class="subtitle-hv">Idiomas</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile [colspan]="colsAlt">
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar Lengua Extranjera</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let tipoDoc of tiposDoc"
            [value]="tipoDoc.value"
          >
            {{ tipoDoc.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="step-btn-container">
    <button class="stepper-main-btn" mat-button matStepperNext>
      Siguiente
    </button>
  </div>

