<form datosBasicosForm  #datosBasicosForm="ngForm" >

  <div class="subtitle-container">
    <mat-icon>badge </mat-icon>
    <h2 class="subtitle-hv">Identificación</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
  <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Identificación</mat-label>
        <input class="hv-field"
          matInput
          placeholder="Identidicación"
          name="nit"
          [(ngModel)]="datosCandidato.nit"
          (ngModelChange)="datosCandidato.nit = $event.toUpperCase()"
          ngControl="nit"
          #nit="ngModel" required id="nit"
          [pattern]="expresiones.numbersText"
          (keyup.enter)="search()"
        />
        <mat-icon class="icon-search" matSuffix  (click)="search()">search</mat-icon>
        <mat-error class="message-error" [class.invalid]="nit.invalid" *ngIf="nit.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="nit.invalid" *ngIf="nit.errors?.['pattern']">
          Identificación no válida, solo se permiten números y letras
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar tipo documento</mat-label>
        <mat-select  [(ngModel)]="datosCandidato.id_rh_tipo_documento" class="hv_field"
        name="id_rh_tipo_documento" #id_rh_tipo_documento="ngModel" required id="id_rh_tipo_documento"
        (selectionChange)="validateChanged($event)"
        >
          <mat-option
            *ngFor="let tipoDoc of tiposDocumento"
            [value]="tipoDoc.id"
          >
            {{ tipoDoc.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_tipo_documento.invalid" *ngIf="id_rh_tipo_documento.errors?.['required']">
          *El tipo de documento es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de expedición</mat-label>
        <input matInput [matDatepicker]="expedicion"
        [(ngModel)]="datosCandidato.fecExpedicion"
        name="fecExpedicion" #fecExpedicion="ngModel" required id="fecExpedicion"/>
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error" [class.invalid]="fecExpedicion.invalid" *ngIf="fecExpedicion.errors?.['required']">
          *La fecha de expedición es requerida.
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="expedicion"
        ></mat-datepicker-toggle>
        <mat-datepicker #expedicion></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>group </mat-icon>
    <h2 class="subtitle-hv">Tipo de candidato</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile [colspan]="colsAlt">
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar tipo candidato</mat-label>
        <mat-select  name="id_tipo_candidato" (ngModelChange)="onChange($event)"
        [(ngModel)]="datosCandidato.id_tipo_candidato"
        name="id_tipo_candidato" #id_tipo_candidato="ngModel" required id="id_tipo_candidato">
          <mat-option
            *ngFor="let tipoCandidato of tiposCandidato"
            [value]="tipoCandidato.id"
          >
            {{ tipoCandidato.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_tipo_candidato.invalid" *ngIf="id_tipo_candidato.errors?.['required']">
          *El tipo de candidato es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>


  <div class="subtitle-container">
    <mat-icon>south_america </mat-icon>
    <h2 class="subtitle-hv">Lugar de Expedición</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar país expedición</mat-label>
        <mat-select [(ngModel)]="datosCandidato.paisExp"
        name="paisExp" #paisExp="ngModel" (selectionChange)="onSelectionChangePaisExp(datosCandidato.paisExp)" required id="datosCandidato">
          <mat-option
            *ngFor="let paisExp of paisesExp"
            [value]="paisExp.id"
          >
            {{ paisExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="paisExp.invalid" *ngIf="paisExp.errors?.['required']">
          *Este campo es requerido, debe seleccionar un país.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar departamento expedición</mat-label>
        <mat-select [(ngModel)]="datosCandidato.deptoExp" (selectionChange)="onSelectionChangeDeptoExp(datosCandidato.deptoExp)"
        name="deptoExp" #deptoExp="ngModel" required id="deptoExp">
          <mat-option
            *ngFor="let deptoExp of deptosExp"
            [value]="deptoExp.id"
          >
            {{ deptoExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="deptoExp.invalid" *ngIf="deptoExp.errors?.['required']">
          *Este campo es requerido, debe seleccionar un departamento.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar ciudad expedición</mat-label>
        <mat-select [(ngModel)]="datosCandidato.idCotClientePais"
        name="ciudadExp" #ciudadExp="ngModel" required id="ciudadExp">
          <mat-option
            *ngFor="let ciudadExp of ciudadesExp"
            [value]="ciudadExp.id"
          >
            {{ ciudadExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="ciudadExp.invalid" *ngIf="ciudadExp.errors?.['required']">
          *Este campo es requerido, debe seleccionar una ciudad.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>person </mat-icon>
    <h2 class="subtitle-hv">Información Personal</h2>
  </div>

  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input class="hv-field"
          matInput
          placeholder="Nombre"
          name="nombre"
          [(ngModel)]="datosCandidato.nombre"
          (ngModelChange)="datosCandidato.nombre = $event.toUpperCase()"
          #nombre="ngModel" required id="nombre"
          [pattern]="expresiones.textSpacesAccent"
        />
        <mat-error class="message-error" [class.invalid]="nombre.invalid" *ngIf="nombre.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="nombre.invalid" *ngIf="nombre.errors?.['pattern']">
          El nombre solo puede contener letras y espacios
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input class="hv-field" matInput placeholder="Apellidos" name="apellido"
        [(ngModel)]="datosCandidato.apellido"
        (ngModelChange)="datosCandidato.apellido = $event.toUpperCase()"
        #apellido="ngModel" required id="apellido"
        [pattern]="expresiones.textSpacesAccent"/>
        <mat-error class="message-error" [class.invalid]="apellido.invalid" *ngIf="apellido.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="apellido.invalid" *ngIf="apellido.errors?.['pattern']">
          El apellido solo puede contener letras y espacios
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="left-grid-position">

      <fieldset>
      <div class="container-hv-radios">
        <mat-label>Género:</mat-label>
        <mat-radio-group aria-label="Select an option"  name="genero"
        [(ngModel)]="datosCandidato.genero"
        #genero="ngModel" required id="genero" color="primary">
          <mat-radio-button [value]="0">Femenino</mat-radio-button>
          <mat-radio-button [value]="1">Masculino</mat-radio-button>

        </mat-radio-group>

      </div>
    </fieldset>
    <mat-error class="message-error error-radio" [class.invalid]="genero.invalid" *ngIf="genero.errors?.['required'] && genero.touched">
      *El genero es requerido.
    </mat-error>


    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="nacimiento" name="fecha_nacimiento" [(ngModel)]="datosCandidato.fecha_nacimiento"
        #fecha_nacimiento="ngModel" required id="fecha_nacimiento"/>
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error" [class.invalid]="fecha_nacimiento.invalid" *ngIf="fecha_nacimiento.errors?.['required']">
          *La fecha de nacimiento es requerida
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="nacimiento"
        ></mat-datepicker-toggle>
        <mat-datepicker #nacimiento></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar estado civil</mat-label>
        <mat-select name="idRhEstadoCivil" [(ngModel)]="datosCandidato.idRhEstadoCivil"
        #idRhEstadoCivil="ngModel" required id="idRhEstadoCivil" class="hv-field">
          <mat-option
            *ngFor="let estadoCivil of estados"
            [value]="estadoCivil.id"
          >
            {{ estadoCivil.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="idRhEstadoCivil.invalid" *ngIf="idRhEstadoCivil.errors?.['required']">
          *El estado civil es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input class="hv-field" matInput
        placeholder="Teléfono" name="telefono" [(ngModel)]="datosCandidato.telefono"
        #telefono="ngModel"  id="telefono"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [pattern]="expresiones.nums"
        />
        <mat-error class="message-error" [class.invalid]="telefono.invalid" *ngIf="telefono.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="telefono.invalid" *ngIf="telefono.errors?.['pattern']">
          El teléfono debe tener más de 7 dígitos
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input class="hv-field"
          matInput
          pattern="[/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/]"
          type="email"
          placeholder="Correo"
          name="mail" [(ngModel)]="datosCandidato.mail" (ngModelChange)="datosCandidato.mail = $event.toUpperCase()"
        #mail="ngModel" required id="mail"
        [pattern]="expresiones.correo"
        />
        <mat-error class="message-error" [class.invalid]="mail.invalid" *ngIf="mail.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="mail.invalid" *ngIf="mail.errors?.['pattern']">
          El formato del correo digitado no es válido
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input class="hv-field" matInput placeholder="Celular" name="celular" [(ngModel)]="datosCandidato.celular"
        #celular="ngModel" required id="celular"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [pattern]="expresiones.nums"
        />
        <mat-error class="message-error" [class.invalid]="celular.invalid" *ngIf="celular.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="celular.invalid" *ngIf="celular.errors?.['pattern']">
          El número de contener más de 10 dígitos
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>location_on</mat-icon>
    <h2 class="subtitle-hv">Datos de Ubicación</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input class="hv-field" matInput placeholder="Dirección" name="direccion" [(ngModel)]="datosCandidato.direccion"
        #direccion="ngModel" required id="direccion" />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar país</mat-label>
        <mat-select name="datosBasicos.pais" [(ngModel)]="datosCandidato.pais"
        #id_cot_cliente_pais="ngModel" required id="id_cot_cliente_pais" (selectionChange)="onSelectionChangePais(datosCandidato.pais)">
          <mat-option *ngFor="let pais of paises" [value]="pais.id">
            {{ pais.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_cot_cliente_pais.invalid" *ngIf="id_cot_cliente_pais.errors?.['required']">
          *Este campo es requerido, debe seleccionar un país.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar departamento</mat-label>
        <mat-select name="depto" [(ngModel)]="datosCandidato.depto" (selectionChange)="onSelectionChangeDepto(datosCandidato.depto)"
        #depto="ngModel" required id="depto">
          <mat-option
            *ngFor="let depto of deptos"
            [value]="depto.id"
          >
            {{ depto.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="depto.invalid" *ngIf="depto.errors?.['required']">
          *Este campo es requerido, debe seleccionar un departamento.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar ciudad</mat-label>
        <mat-select name="ciudad" [(ngModel)]="datosCandidato.id_cot_cliente_pais" (selectionChange)="onSelectionChangeCiudad(datosCandidato.id_cot_cliente_pais)"
        #ciudad="ngModel" required id="ciudad">
          <mat-option
            *ngFor="let ciudad of ciudades"
            [value]="ciudad.id"
          >
            {{ ciudad.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="ciudad.invalid" *ngIf="ciudad.errors?.['required']">
          *Este campo es requerido, debe seleccionar una ciudad.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar barrio</mat-label>
        <mat-select name="id_cot_cliente_barrio" [(ngModel)]="datosCandidato.id_cot_cliente_barrio"
        #id_cot_cliente_barrio="ngModel"  id="id_cot_cliente_barrio">
          <mat-option
            *ngFor="let barrio of barrios"
            [value]="barrio.id"
          >
            {{ barrio.descripcion }}
          </mat-option>
        </mat-select>
        <!-- <mat-error class="message-error" [class.invalid]="id_cot_cliente_barrio.invalid" *ngIf="id_cot_cliente_barrio.errors?.['required']">
          *Este campo es requerido, debe seleccionar un barrio.
        </mat-error> -->
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>school </mat-icon>
    <h2 class="subtitle-hv">Experiencia</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar experiencia específica</mat-label>
        <mat-select #id_rh_experiencia="ngModel" name="id_rh_experiencia" [(ngModel)]="datosCandidato.id_rh_experiencia" required id="id_rh_experiencia">
          <mat-option
            *ngFor="let anioExp of aniosExp"
            [value]="anioExp.id"
          >
            {{ anioExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_experiencia.invalid" *ngIf="id_rh_experiencia.errors?.['required']">
          *La experiencia específica es requerida, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar nivel académico</mat-label>
        <mat-select name="id_rh_nivel_academico" [(ngModel)]="datosCandidato.id_rh_nivel_academico"
        #id_rh_nivel_academico="ngModel" required id="id_rh_nivel_academico">
          <mat-option
            *ngFor="let nivelAcademia of nivelesAcademia"
            [value]="nivelAcademia.id"
          >
            {{ nivelAcademia.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_nivel_academico.invalid" *ngIf="id_rh_nivel_academico.errors?.['required']">
          *El nivel académico es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar cargo al que aplica</mat-label>
        <mat-select name="id_rh_perfil" [(ngModel)]="datosCandidato.id_rh_perfil"
        #id_rh_perfil="ngModel" required id="id_rh_perfil">
          <mat-option
            *ngFor="let cargo of cargos"
            [value]="cargo.id"
          >
            {{ cargo.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_perfil.invalid" *ngIf="id_rh_perfil.errors?.['required']">
          *El cargo es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon
      ><span class="material-symbols-outlined"> translate </span>
    </mat-icon>
    <h2 class="subtitle-hv">Idiomas</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >

    <mat-grid-tile [colspan]="colsAlt">
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar lengua extranjera</mat-label>
        <mat-select  name="idIdi" [(ngModel)]="idIdiPrevio"
        #idIdi="ngModel" id="idIdi" multiple>
          <mat-option  *ngFor="let lengua of lenguas" [value]="lengua.id">{{lengua.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="step-btn-container">
    <button type="button" class="stepper-main-btn" mat-button (click)="guardarProgreso()" >
      Guardar Progreso
    </button>
    <button type="button" [disabled]="disabledButtonNext" class="stepper-main-btn" mat-button matStepperNext>
      Siguiente
    </button>

  </div>

</form>
