
  <mat-form-field class="mat-form-field-upload ">
    <div>
      <mat-toolbar>
        <!-- Display files names -->
       <!-- <div class="upload-file-container"> -->
        <mat-icon class="icon-file-input">attach_file_add </mat-icon>
        <input matInput [(ngModel)]="fileAttr" readonly name="fileAttr" />
       <!-- </div> -->
        <!-- Browse Button -->

        <button mat-flat-button color="primary"><mat-icon class="icon-file-button">upload_file</mat-icon> Cargar archivo</button>
      </mat-toolbar>
      <!-- Fetch selected filed on change -->
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/png, image/jpeg, application/pdf"
      />
    </div>


  </mat-form-field>
  <div *ngFor="let selected of listOfFiles; let index = index">
    <h3>{{ selected }}</h3>
    <button mat-icon-button (click)="removeSelectedFile(index)">delete</button>
  </div>
  <div class="step-btn-container">
    <button class="stepper-main-btn" mat-button matStepperPrevious>
      Atrás
    </button>
    <button type="button" class="stepper-main-btn" mat-button (click)="guardarProgreso()">
      Guardar Progreso
    </button>
    <button [disabled]="disabledButtonNext" class="stepper-main-btn" mat-button matStepperNext>
      Siguiente
    </button>
  </div>
