.mat-stepper-horizontal {
  margin-top: 8px;
}

.wizard-card {
  margin: 1.2em 3em;
}
label.title-tabs-hv {
  text-transform: uppercase;
}

.mat-step-label.mat-step-label {
  text-overflow: inherit;
  white-space: normal;
}

@media screen and (max-width: 700px) {
  .wizard-card {
    margin: 1.2em 0em;
  }
}
