<mat-card class="wizard-card">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">contact_page</mat-icon>
        Datos Candidato
      </ng-template>
      <mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="isLinear" #stepper class="wizard-datos-candidato">
        <mat-step >
          <ng-template matStepLabel>Datos Básicos</ng-template>
          <app-datos-basicos-form (changeSelect)="changeDatosBasicos($event)"></app-datos-basicos-form>

        </mat-step>

        <!-- Paso 2 -->
        <mat-step  label="Datos Adicionales">
        <app-datos-adicionales-form></app-datos-adicionales-form>

        </mat-step>
        <!-- Fin paso 2 -->
        <!-- Paso 3 -->
        <mat-step  label="Archivos">
          <app-carga-archivos-form></app-carga-archivos-form>
        </mat-step>
        <!-- Fin Paso 3 -->
        <!-- Paso 4 -->

        <mat-step  label="Estudios">
          <app-estudios-form></app-estudios-form>
        </mat-step>
        <mat-step  label="Referencias">
          <app-referencias-form></app-referencias-form>

        </mat-step>
        <mat-step  label="Cargos">
          <app-cargos-form></app-cargos-form>

        </mat-step>
        <mat-step  label="Información Familiar">
          <app-informacion-familiar-form></app-informacion-familiar-form>

        </mat-step>
        <mat-step>
        <ng-template matStepLabel>Hecho</ng-template>
        Se han llenado todos lo campos del formulario correctamente
        <div>
          <button class="stepper-main-btn" mat-button matStepperPrevious>Atrás</button>
          <button class="stepper-main-btn" mat-button (click)="stepper.reset()">Reiniciar</button>
        </div>
      </mat-step>
      </mat-stepper>
    </mat-tab>

    <mat-tab [disabled]="!isActive">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">groups</mat-icon>
        Datos Sociodemográficos
      </ng-template>
      <app-sociodemograficos></app-sociodemograficos>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<div>&nbsp;</div>
