mat-grid-list.mat-grid-list {
    margin: 1em;
  }
  .mat-form-field {
    margin-top: 1px;
    width: -webkit-fill-available;
}
.container-sd-checks {
  display: flex;
  margin: 10px 0 0 5px;
  mat-label{
    padding-right: 15px;
  }
}
.container-hv-radios{
  display: flex;
  flex-direction: column;
  margin: 0.2em 0;
  padding: 0px 0 0 5px;
  mat-label{
    margin-bottom: 0.2em;
    // text-decoration: underline;
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-error.radio-sd{
  margin-top: 73px;
}

.consentimiento-content {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  .titulo-consentimiento{
    text-transform: uppercase;
  }
  .consentimiento-text {
    margin: 1.2em 0;
  }
  .consentimiento-check {
    margin-bottom: 1.2em;
}
}
.btn-sociodemograficos {
  margin-top: 0.5em;
  .stepper-main-btn{
    margin-left: 1em;
  }
}
