<mat-card>
    <form>
        <div class="consentimiento-content">

          <div class="consentimiento-text">

<div class="consentimiento">
  <h3 class="titulo-consentimiento"> Consentimiento Informado</h3>

  <p>Voluntariamente acepto brindar mi información personal, clara y verídica a la empresa para mantener actualizado el perfil sociodemográfico, manifiesto haber recibido una explicación clara y completa sobre el carácter general y los propósitos del perfil sociodemográfico.</p>

  <p>Igualmente, se me ha informado que es decisión mía, si brindo o no la información personal a la empresa y comprendo la información solo será conocida por el personal encargado del área de Seguridad y Salud en el trabajo o quien la requiera con mi autorización.</p>
<p>
  Ley protección de datos 1581 de 2012</p>
</div>




</div>

          <div class="consentimiento-check left-grid-position" >
            <div class="container-hv-radios">
             <mat-label>Consentimiento Informado:</mat-label>
             <mat-radio-group class="" name="sociodemograficos.consentimiento" (ngModelChange)="onChange($event)"  [(ngModel)]="sociodemograficos.consentimiento">
               <mat-radio-button *ngFor="let optionConsentimiento of optionsYesNo" [value]="optionConsentimiento.value" color="primary">
                 {{ optionConsentimiento.name }}
               </mat-radio-button>
             </mat-radio-group>

           </div>

           </div>
          </div>

        <div class="campos-sociodemograficos" *ngIf="sociodemograficos.consentimiento == 1">
          <mat-divider></mat-divider>
          <div class="subtitle-container">
            <mat-icon>apartment</mat-icon>
            <h2 class="subtitle-hv">Datos Empresariales</h2>
          </div>
          <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px" >

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Empresa</mat-label>
              <input matInput [disabled]="isDisable" placeholder="Empresa" #empresa="ngModel" required id="empresa" name="empresa"  [(ngModel)]="sociodemograficos.empresa" (ngModelChange)="sociodemograficos.empresa = $event.toUpperCase()"/>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Sede</mat-label>
              <input matInput [disabled]="isDisable" placeholder="Sede" #sede="ngModel" required id="sede" name="sede"  [(ngModel)]="sociodemograficos.sede" (ngModelChange)="sociodemograficos.sede = $event.toUpperCase()" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Area</mat-label>
              <input matInput [disabled]="isDisable" placeholder="Area" #area="ngModel" required id="area" name="area"  [(ngModel)]="sociodemograficos.area" (ngModelChange)="sociodemograficos.area = $event.toUpperCase()" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de Ingreso</mat-label>
              <input matInput [disabled]="isDisable" placeholder="Fecha Ingreso" #fechaIngreso="ngModel" required id="fechaIngreso" name="fechaIngreso"  [(ngModel)]="sociodemograficos.fechaIngreso"  />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Antigüedad en la Empresa</mat-label>
              <mat-select #antiguedadEmpresa="ngModel" required id="antiguedadEmpresa" name="antiguedadEmpresa"  [(ngModel)]="sociodemograficos.antiguedadEmpresa" >
                <mat-option
                  *ngFor="let anioAntigEmpresa of aniosAntigEmpresa"
                  [value]="anioAntigEmpresa.value"
                >
                  {{ anioAntigEmpresa.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Antigüedad en el cargo desempeñado</mat-label>
              <mat-select #antiguedadCargo="ngModel" required id="antiguedadCargo" name="antiguedadCargo"  [(ngModel)]="sociodemograficos.antiguedadCargo">
                <mat-option
                  *ngFor="let anioAntiguedad of aniosAntiguedad"
                  [value]="anioAntiguedad.value"
                >
                  {{ anioAntiguedad.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Promedio Ingresos</mat-label>
              <mat-select #promedioIngresos="ngModel" required id="promedioIngresos" name="promedioIngresos"  [(ngModel)]="sociodemograficos.promedioIngresos">
                <mat-option
                  *ngFor="let salario of rangosEdad"
                  [value]="salario.value"
                >
                  {{ salario.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>ARL</mat-label>
              <input matInput disabled placeholder="ARL" required />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="left-grid-position">
            <div class="container-hv-radios">
            <mat-label>Tipo de Afiliación EPS:</mat-label>
            <mat-radio-group #tipoAfiliadoEps="ngModel" required id="tipoAfiliadoEps" name="tipoAfiliadoEps"  [(ngModel)]="sociodemograficos.tipoAfiliadoEps">
              <mat-radio-button *ngFor="let tipoAfiliado of tiposAfiliado" [value]="tipoAfiliado.value" color="primary">
                {{ tipoAfiliado.name }}
              </mat-radio-button>
            </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <div class="subtitle-container">
          <mat-icon>south_america</mat-icon>
          <h2 class="subtitle-hv">
            Lugar de Nacimiento
          </h2>
        </div>
        <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px" >

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar País</mat-label>
                <mat-select #paisNacimiento="ngModel" required id="paisNacimiento" name="paisNacimiento"  [(ngModel)]="sociodemograficos.paisNacimiento">
                  <mat-option
                    *ngFor="let pais of paises"
                    [value]="pais.value"
                  >
                    {{ pais.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar Departamento</mat-label>
                <mat-select #deptoNacimiento="ngModel" required id="deptoNacimiento" name="deptoNacimiento"  [(ngModel)]="sociodemograficos.deptoNacimiento">
                  <mat-option
                    *ngFor="let depto of deptos"
                    [value]="depto.value"
                  >
                    {{ depto.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar Ciudad</mat-label>
                <mat-select #ciudadNacimiento="ngModel" required id="ciudadNacimiento" name="ciudadNacimiento"  [(ngModel)]="sociodemograficos.ciudadNacimiento">
                  <mat-option
                    *ngFor="let ciudad of ciudades"
                    [value]="ciudad.value"
                  >
                    {{ ciudad.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <div class="subtitle-container">
          <mat-icon>house</mat-icon>
          <h2 class="subtitle-hv">
            Información de la Vivienda
          </h2>
        </div>
        <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px" >

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Caracteristicas de la vivienda</mat-label>
                <mat-select #caracteristicasVivienda="ngModel" required id="caracteristicasVivienda" name="caracteristicasVivienda"  [(ngModel)]="sociodemograficos.caracteristicasVivienda">
                  <mat-option
                    *ngFor="let caracteristica of caracteristicas"
                    [value]="caracteristica.value"
                  >
                    {{ caracteristica.viewValue }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Zona  en la que se Ubica</mat-label>
                <mat-select #zonaVivienda="ngModel" required id="zonaVivienda" name="zonaVivienda"  [(ngModel)]="sociodemograficos.zonaVivienda">
                  <mat-option
                    *ngFor="let ubicacion of ubicaciones"
                    [value]="ubicacion.value"
                  >
                    {{ ubicacion.viewValue }}
                  </mat-option>
                </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="container-hv-radios">
               <mat-label>El lugar donde vivo, ¿Cuenta con los servicios públicos que mi familia necesita?</mat-label>
               <mat-radio-group #cuentaConServicios="ngModel" required id="cuentaConServicios" name="cuentaConServicios"  [(ngModel)]="sociodemograficos.cuentaConServicios">
                 <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
                   {{ servicioNecesario.name }}
                 </mat-radio-button>
               </mat-radio-group>

             </div>
             </mat-grid-tile>


           <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Servicios de la Vivienda</mat-label>
              <mat-select #serviciosVivienda="ngModel" required id="serviciosVivienda" name="serviciosVivienda"  [(ngModel)]="sociodemograficos.serviciosVivienda" multiple>
                <mat-option *ngFor="let servicioPublico of serviciosPublicos" [value]="servicioPublico.value">{{servicioPublico.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
           </mat-grid-tile>
           <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Estrato Servicios Públicos</mat-label>
              <mat-select #serviciosVivienda="ngModel" required id="serviciosVivienda" name="serviciosVivienda"  [(ngModel)]="sociodemograficos.serviciosVivienda">
                <mat-option
                  *ngFor="let estrato of estratos"
                  [value]="estrato.value"
                >
                  {{ estrato.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>
           <mat-grid-tile>
            <div class="container-hv-radios">
             <mat-label>¿ El tamaño de la vivienda es suficiente para las personas que conforman mi hogar ?</mat-label>
             <mat-radio-group #tamanoVivienda="ngModel" required id="tamanoVivienda" name="tamanoVivienda"  [(ngModel)]="sociodemograficos.tamanoVivienda">
               <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
                 {{ servicioNecesario.name }}
               </mat-radio-button>
             </mat-radio-group>

           </div>
           </mat-grid-tile>
           <mat-grid-tile>
            <div class="container-hv-radios">
             <mat-label>¿Las Condiciones en que está construida mi vivienda son seguras? </mat-label>
             <mat-radio-group #condicionesVivienda="ngModel" required id="condicionesVivienda" name="condicionesVivienda"  [(ngModel)]="sociodemograficos.condicionesVivienda">
               <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
                 {{ servicioNecesario.name }}
               </mat-radio-button>
             </mat-radio-group>

           </div>
           </mat-grid-tile>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <div class="subtitle-container">
            <mat-icon>family_restroom</mat-icon>
            <h2 class="subtitle-hv">
              Información Familiar
            </h2>
          </div>
          <mat-grid-list #grid [cols]="cols" rowHeight="85px" gutterSize="10px" >
           <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Nº de Personas con las que Vive</mat-label>
              <mat-select #condicionesVivienda="ngModel" required id="condicionesVivienda" name="condicionesVivienda"  [(ngModel)]="sociodemograficos.condicionesVivienda">
                <mat-option
                  *ngFor="let persona of numPersonas"
                  [value]="persona.value"
                >
                  {{ persona.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Número de Hijos</mat-label>
              <input
                matInput
                type="number"
                placeholder="Número de Hijos"
                #numHijos="ngModel" required id="numHijos" name="numHijos"  [(ngModel)]="sociodemograficos.numHijos"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Rango Edad Hijos</mat-label>
              <mat-select #edadHijos="ngModel" required id="edadHijos" name="edadHijos"  [(ngModel)]="sociodemograficos.edadHijos">
                <mat-option
                  *ngFor="let rangoEdad of rangosEdad"
                  [value]="rangoEdad.value"
                >
                  {{ rangoEdad.viewValue }}
                </mat-option>
              </mat-select>
              </mat-form-field>
          </mat-grid-tile>


         <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>¿Quién o quiénes dependen Económicamente de Usted?</mat-label>
            <mat-select #dependenciaEconomica="ngModel" required id="dependenciaEconomica" name="dependenciaEconomica"  [(ngModel)]="sociodemograficos.dependenciaEconomica" multiple>
              <mat-option *ngFor="let dependiente of dependencias" [value]="dependiente.value">{{dependiente.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
         </mat-grid-tile>
         <mat-grid-tile>
          <div class="container-hv-radios">
           <mat-label>¿En tu grupo familiar hay alguna persona tiene una condición de discapacidad? </mat-label>
           <mat-radio-group #familiarDiscapacitado="ngModel" required id="familiarDiscapacitado" name="familiarDiscapacitado"  [(ngModel)]="sociodemograficos.familiarDiscapacitado" >
             <mat-radio-button *ngFor="let personaDiscapacitada of optionsYesNo" [value]="personaDiscapacitada.value" color="primary">
               {{ personaDiscapacitada.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
          <div class="subtitle-container">
            <mat-icon>folder_shared</mat-icon>
            <h2 class="subtitle-hv">
              Información Complementaria
            </h2>
          </div>
        <mat-grid-list #grid [cols]="cols" rowHeight="90px" gutterSize="10px" >

         <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Tipo del Transporte para ir al Trabajo</mat-label>
            <mat-select #tipoTransporte="ngModel" required id="tipoTransporte" name="tipoTransporte"  [(ngModel)]="sociodemograficos.tipoTransporte" multiple>
              <mat-option *ngFor="let transporte of tiposTransporte" [value]="transporte.value">{{transporte.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
         </mat-grid-tile>
         <mat-grid-tile>
          <div class="container-hv-radios">
           <mat-label>¿La ruta que utilizo para desplazarme entre mi casa y el trabajo es segura</mat-label>
           <mat-radio-group #rutaSegura="ngModel" required id="rutaSegura" name="rutaSegura"  [(ngModel)]="sociodemograficos.rutaSegura">
             <mat-radio-button *ngFor="let rutaSegura of optionsYesNo" [value]="rutaSegura.value" color="primary">
               {{ rutaSegura.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
         <mat-grid-tile class="left-grid-position">
          <div class="container-hv-radios">
           <mat-label>¿Fuera de mi trabajo tengo suficiente tiempo libre para descansar? </mat-label>
           <mat-radio-group #tiempoLibre="ngModel" required id="tiempoLibre" name="tiempoLibre"  [(ngModel)]="sociodemograficos.tiempoLibre">
             <mat-radio-button *ngFor="let tiempoLibre of optionsYesNo" [value]="tiempoLibre.value" color="primary">
               {{ tiempoLibre.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
         <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Otras actividades fuera del trabajo que reducen mi tiempo de descanso</mat-label>
            <textarea matInput placeholder="Nombre Familiar" #reduceDescanso="ngModel" required id="reduceDescanso" name="reduceDescanso"  [(ngModel)]="sociodemograficos.reduceDescanso" (ngModelChange)="sociodemograficos.reduceDescanso = $event.toUpperCase()"></textarea>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Otras actividades fuera del trabajo que reducen mi tiempo de descanso</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              placeholder="Nombre Familiar" #reduceDescanso="ngModel" required id="reduceDescanso" name="reduceDescanso"  [(ngModel)]="sociodemograficos.reduceDescanso" (ngModelChange)="sociodemograficos.reduceDescanso = $event.toUpperCase()"
            ></textarea>
          </mat-form-field> -->
        </mat-grid-tile>
         <mat-grid-tile>
          <div class="container-hv-radios">
           <mat-label>¿Practica actividad física por lo menos 3 veces a la semana por 30 minutos mínimo? </mat-label>
           <mat-radio-group #actividadFisica="ngModel" required id="actividadFisica" name="actividadFisica"  [(ngModel)]="sociodemograficos.actividadFisica">
             <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
               {{ servicioNecesario.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
         <mat-grid-tile class="left-grid-position">
          <div class="container-hv-radios">
           <mat-label>¿Usted es fumador? </mat-label>
           <mat-radio-group #fumador="ngModel" required id="fumador" name="fumador"  [(ngModel)]="sociodemograficos.fumador">
             <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
               {{ servicioNecesario.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
         <mat-grid-tile class="left-grid-position">
          <div class="container-hv-radios">
           <mat-label>¿Puedo acceder fácilmente a los servicios de salud?</mat-label>
           <mat-radio-group #accesoSalud="ngModel" required id="accesoSalud" name="accesoSalud"  [(ngModel)]="sociodemograficos.accesoSalud">
             <mat-radio-button *ngFor="let servicioSalud of optionsYesNo" [value]="servicioSalud.value" color="primary">
               {{ servicioSalud.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>
         <mat-grid-tile class="left-grid-position">
          <div class="container-hv-radios">
           <mat-label>¿Requiere el uso de lentes medicados? </mat-label>
           <mat-radio-group #lentesMedicados="ngModel" required id="lentesMedicados" name="lentesMedicados"  [(ngModel)]="sociodemograficos.lentesMedicados">
             <mat-radio-button *ngFor="let servicioNecesario of optionsYesNo" [value]="servicioNecesario.value" color="primary">
               {{ servicioNecesario.name }}
             </mat-radio-button>
           </mat-radio-group>

         </div>
         </mat-grid-tile>

        </mat-grid-list>

        </div>
<div class="btn-sociodemograficos">
  <button [disabled]="buttonDisabled" class="stepper-main-btn" (click)="enviarSociodemograficos()" mat-button>Enviar</button>
</div>
      </form>
</mat-card>
