
<p class="info-formulario">*Es obligatorio agregar al menos una referencia</p>
<form addReferenceData  #addReferenceData="ngForm">
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
  <mat-grid-tile>
  <fieldset>
    <div class="container-hv-referencia">
      <mat-label>Tipo referencia:</mat-label>
      <mat-radio-group #tipoReferencia="ngModel"  id="tipo" name="tipo"  required [(ngModel)]="setReferences.tipo">
        <mat-radio-button  *ngFor="let tipoReferencia of tiposReferencia" [value]="tipoReferencia.id">{{ tipoReferencia.descripcion}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </fieldset>
</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre referencia</mat-label>
        <input matInput placeholder="Nombre Referencia" #nombreReferencia="ngModel"  id="nombreReferencia" name="nombreReferencia"
        required [(ngModel)]="setReferences.nombre" (ngModelChange)="setReferences.nombre = $event.toUpperCase()"
          [pattern]="expresiones.textSpacesAccent" />
          <mat-error class="message-error" [class.invalid]="nombreReferencia.invalid" *ngIf="nombreReferencia.errors?.['required']">
            *Este campo es requerido
          </mat-error>
          <mat-hint  class="message-error"
          [class.invalid]="nombreReferencia.invalid" *ngIf="nombreReferencia.errors?.['pattern']">
            El nombre solo puede contener letras y espacios
         </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput placeholder="Celular" #celular="ngModel"  id="celular" name="celular"
        required [(ngModel)]="setReferences.celular" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [pattern]="expresiones.celular" />
        <mat-error class="message-error" [class.invalid]="celular.invalid" *ngIf="celular.errors?.['required']">
          *Este campo es requerido
        </mat-error>
        <mat-hint  class="message-error"
        [class.invalid]="celular.invalid" *ngIf="celular.errors?.['pattern']">
          El número de contener más de 10 dígitos
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" #telefono="ngModel"  id="telefono" name="telefono"
        required [(ngModel)]="setReferences.telefono" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [pattern]="expresiones.nums"/>
        <mat-hint  class="message-error"
        [class.invalid]="telefono.invalid" *ngIf="telefono.errors?.['pattern']">
          El teléfono debe tener más de 7 dígitos
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Correo" #mail="ngModel"  id="mail" name="mail" required [(ngModel)]="setReferences.mail" (ngModelChange)="setReferences.mail = $event.toUpperCase()"
        [pattern]="expresiones.correo"
        />
        <mat-hint  class="message-error"
        [class.invalid]="mail.invalid" *ngIf="mail.errors?.['pattern']">
          El formato del correo digitado no es válido
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  *ngIf="setReferences.tipo === 2">
      <mat-form-field appearance="outline">
        <mat-label>Empresa</mat-label>
        <input matInput placeholder="Empresa" #empresa="ngModel"  id="empresa" name="empresa" [required]="setReferences.tipo === 2" [(ngModel)]="setReferences.empresa" (ngModelChange)="setReferences.empresa = $event.toUpperCase()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="setReferences.tipo === 2">
      <mat-form-field appearance="outline" >
        <mat-label>Cargo</mat-label>
        <input matInput placeholder="Cargo" #Cargo="ngModel"  id="Cargo" name="Cargo" [required]="setReferences.tipo === 2" [(ngModel)]="setReferences.Cargo" (ngModelChange)="setReferences.Cargo = $event.toUpperCase()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="setReferences.tipo === 2">
      <mat-form-field appearance="outline" >
        <mat-label>Tiempo laborado</mat-label>
        <input matInput placeholder="Tiempo Laborado" #TiempoLaborado="ngModel"  id="TiempoLaborado" name="TiempoLaborado" [required]="setReferences.tipo === 2" [(ngModel)]="setReferences.TiempoLaborado" (ngModelChange)="setReferences.TiempoLaborado = $event.toUpperCase()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  *ngIf="setReferences.tipo === 2">
      <mat-form-field appearance="outline">
        <mat-label>Motivo de Retiro</mat-label>
        <input matInput placeholder="Motivo de Retiro" #MotivoRetiro="ngModel"  id="MotivoRetiro" name="MotivoRetiro" [required]="setReferences.tipo === 2" [(ngModel)]="setReferences.MotivoRetiro" (ngModelChange)="setReferences.MotivoRetiro = $event.toUpperCase()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols">
      <mat-form-field appearance="outline">
        <mat-label>Notas</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          placeholder="Notas" #Observaciones="ngModel"  id="Observaciones" name="Observaciones"  [(ngModel)]="setReferences.Observaciones"
        ></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="step-btn-container">
    <button class="add-button" mat-flat-button color="primary" (click)="addReference()"><mat-icon>playlist_add</mat-icon> Adicionar</button>
  </div>
  </form>
  <div class="scroller-table">
    <table mat-table class=" demo-table table-form-hv" [dataSource]="this.myReferenceArray" *ngIf="this.myReferenceArray.length > 0">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef>Celular</th>
            <td mat-cell *matCellDef="let element">{{element.celular }}</td>
        </ng-container>
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let element">{{element.telefono }}</td>
        </ng-container>
        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef>Correo</th>
            <td mat-cell *matCellDef="let element">{{element.mail }}</td>
        </ng-container>
        <ng-container matColumnDef="Observaciones">
            <th mat-header-cell *matHeaderCellDef>Notas</th>
            <td mat-cell *matCellDef="let element">{{element.Observaciones}}</td>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo Referencia</th>
            <td mat-cell *matCellDef="let element">{{labelTable(element.tipo, tiposReferencia) }}</td>
        </ng-container>
        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef>Borrar</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon matTooltip="Borrar elemento" class="ico-table" (click)="hideItem(i)">delete</mat-icon>
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef>Borrar</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon matTooltip="Borrar elemento" class="ico-table" (click)="borrarItem(i)">delete</mat-icon>
            </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="columnsReference"></tr>
        <tr class="row-peritaje" mat-row *matRowDef="let row; columns: columnsReference;" [hidden]="row.hidden">
        </tr>
    </table>

</div>

  <div class="step-btn-container" >
    <button class="stepper-main-btn" mat-button matStepperPrevious>
      Atrás
    </button>
    <button  type="button" class="stepper-main-btn" mat-button (click)="guardarProgreso()">
      Guardar Progreso
    </button>
    <button *ngIf="this.myReferenceArray.length > 0" [disabled]="disabledButtonNext" class="stepper-main-btn" mat-button matStepperNext>
      Siguiente
    </button>
  </div>
