<form datosAdicionalesForm  #datosAdicionalesForm="ngForm" >
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar experiencia general</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.id_rh_experiencia_sector"
        name="id_rh_experiencia_sector" #id_rh_experiencia_sector="ngModel" required id="id_rh_experiencia_sector">
          <mat-option
            *ngFor="let anioExp of aniosExp"
            [value]="anioExp.id"
          >
            {{ anioExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_experiencia_sector.invalid" *ngIf="id_rh_experiencia_sector.errors?.['required']">
          *La experiencia general es requerida, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar experiencia en operación de equipos </mat-label>
        <mat-select disabled [disabled]="tipoCandidato == 1 ? false : true" [(ngModel)]="todosCandidatoStorage.candidato.id_rh_experiencia_equipo"
        name="id_rh_experiencia_equipo" #id_rh_experiencia_equipo="ngModel" required id="id_rh_experiencia_equipo">
          <mat-option
          *ngFor="let anioExp of aniosExp"
          [value]="anioExp.id"
          >
          {{ anioExp.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_experiencia_equipo.invalid" *ngIf="id_rh_experiencia_equipo.errors?.['required']">
          *La experiencia en operación de equipos es requerida, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar aspiración salarial</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.id_salario"
        name="id_salario" #id_salario="ngModel" required id="id_salario">
          <mat-option
            *ngFor="let salario of salarios"
            [value]="salario.id"
          >
            {{ salario.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_salario.invalid" *ngIf="id_salario.errors?.['required']">
          *La aspiración salarial es requerida, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Salario Específico</mat-label>
        <input
          matInput
          type="number"
          placeholder="$ 0.00"
          name=""
          [(ngModel)]="todosCandidatoStorage.candidato.salario"
        name="salario" #salario="ngModel" id="salario"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [pattern]="expresiones.salario"
        />
        <mat-error class="message-error" [class.invalid]="salario.invalid" *ngIf="salario.errors?.['required']">
          *El salario específico es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar fuente de reclutamiento</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.id_rh_fuente_reclutamiento"
        name="id_rh_fuente_reclutamiento" #id_rh_fuente_reclutamiento="ngModel" id="id_rh_fuente_reclutamiento">
          <mat-option
            *ngFor="let fuente of fuentesReclutamiento"
            [value]="fuente.id"
          >
            {{ fuente.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_fuente_reclutamiento.invalid" *ngIf="id_rh_fuente_reclutamiento.errors?.['required']">
          *La fuente de reclutamiento es requerida, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nº tarjeta profesional</mat-label>
        <input matInput placeholder="Nº Tarjeta Profesional" #tarjeta="ngModel"
        id="tarjeta" name="tarjeta"  [(ngModel)]="todosCandidatoStorage.candidato.tarjeta"
        (ngModelChange)="todosCandidatoStorage.candidato.tarjeta = $event.toUpperCase()"
        [pattern]="expresiones.numbersText"/>
        <mat-hint  class="message-error"
        [class.invalid]="tarjeta.invalid" *ngIf="tarjeta.errors?.['pattern']">
          La tarjeta profesional no es válida, solo se permiten números y letras
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile >
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar entidad de expedición</mat-label>
        <mat-select class="select_entidad" [(ngModel)]="todosCandidatoStorage.candidato.id_Entidad"
        name="id_Entidad" #id_Entidad="ngModel" id="id_Entidad">
          <mat-option
            *ngFor="let entidad of entidades"
            [value]="entidad.id"
          >
            {{ entidad.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  <mat-grid-tile class="tile-checks-hv left-grid-position">

    <section class="example-section">
      <mat-checkbox
      (change)="todosCandidatoStorage.candidato.id_participacion_anterior = $event.checked ? 1 : 0" [(ngModel)]="todosCandidatoStorage.candidato.id_participacion_anterior"
      name="id_participacion_anterior" #id_participacion_anterior="ngModel" id="id_participacion_anterior" class="example-margin"
        >Participacion anterior
      </mat-checkbox>

      <mat-checkbox

      (change)="todosCandidatoStorage.candidato.id_trajo_hoja_vida = $event.checked ? 1 : 0" [(ngModel)]="todosCandidatoStorage.candidato.id_trajo_hoja_vida"
      name="id_trajo_hoja_vida" #id_trajo_hoja_vida="ngModel" id="id_trajo_hoja_vida" class="example-margin"
      >Hoja de vida
    </mat-checkbox>
    </section>
  </mat-grid-tile>
  <mat-grid-tile class="tile-checks-hv left-grid-position">
    <section class="example-section">

      <mat-checkbox
      (change)="todosCandidatoStorage.candidato.id_disponibilidad_viaje = $event.checked ? 1 : 0" [(ngModel)]="todosCandidatoStorage.candidato.id_disponibilidad_viaje"
      name="id_disponibilidad_viaje" #id_disponibilidad_viaje="ngModel" id="id_disponibilidad_viaje" class="example-margin"
        >Disponibilidad para viajar
      </mat-checkbox>

      <mat-checkbox
      (change)="todosCandidatoStorage.candidato.runt = $event.checked ? 1 : 0" [(ngModel)]="todosCandidatoStorage.candidato.runt"
      name="runt" #runt="ngModel" id="runt" class="example-margin">Runt</mat-checkbox>

    </section>

  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<div class="subtitle-container">
  <mat-icon>medical_information</mat-icon>
  <h2 class="subtitle-hv">Información salud</h2>
</div>
<mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar EPS</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.idRhEps"
        name="idRhEps" #idRhEps="ngModel" id="idRhEps" >
          <mat-option
            *ngFor="let eps of epss"
            [value]="eps.id"
          >
            {{ eps.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar fondo pensión</mat-label>
      <mat-select  [(ngModel)]="todosCandidatoStorage.candidato.idRhFondoPension"
        name="idRhFondoPension" #idRhFondoPension="ngModel" id="idRhFondoPension">
        <mat-option
          *ngFor="let fondoPension of fondosPension"
          [value]="fondoPension.id"
        >
          {{ fondoPension.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar caja compensación</mat-label>
      <mat-select [(ngModel)]="todosCandidatoStorage.candidato.idRhFondoCaja"
        name="idRhFondoCaja" #idRhFondoCaja="ngModel" id="idRhFondoCaja">
        <mat-option
          *ngFor="let cajaCompensacion of cajasCompensacion"
          [value]="cajaCompensacion.id"
        >
          {{ cajaCompensacion.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar cesantías</mat-label>
      <mat-select [(ngModel)]="todosCandidatoStorage.candidato.idRhFondoCesantias"
        name="idRhFondoCesantias" #idRhFondoCesantias="ngModel" id="idRhFondoCesantias">
        <mat-option
          *ngFor="let cesantia of cesantias"
          [value]="cesantia.id"
        >
          {{ cesantia.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>
  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>badge</mat-icon>
    <h2 class="subtitle-hv">Licencia de conducción</h2>
  </div>


  <mat-grid-list
    #grid
    [cols]="colsAlt"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nº Licencia</mat-label>
        <input matInput placeholder="Nº de Licencia" #numLicencia="ngModel"
        id="licencia" name="licencia"  [(ngModel)]="todosCandidatoStorage.candidato.licencia"
        (ngModelChange)="todosCandidatoStorage.candidato.licencia = $event.toUpperCase()"
        (keydown)="newLicence($event)"
        [pattern]="expresiones.numbersText"/>
        <mat-hint  class="message-error"
        [class.invalid]="tarjeta.invalid" *ngIf="tarjeta.errors?.['pattern']">
          La tarjeta licencia no es válida, solo se permiten números y letras
       </mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="left-grid-position">
      <fieldset>
      <div class="container-hv-radios">
        <mat-label>Tipo de licencia:</mat-label>
        <mat-radio-group class="" name="tipo_licencia" [(ngModel)]="todosCandidatoStorage.candidato.tipo_licencia"  (change)="chooseType($event)">
          <mat-radio-button *ngFor="let tipoLicencia of tiposLicencia" [value]="tipoLicencia.id" color="primary">
            {{ tipoLicencia.descripcion }}
          </mat-radio-button>
        </mat-radio-group>
        </div>
      </fieldset>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fecha vencimiento</mat-label>
        <input matInput [matDatepicker]="vencimiento" #fechaVence="ngModel"  id="fechaVence" name="fechaVence"  [(ngModel)]="setLicences.fechaVence" />
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-error class="message-error" [class.invalid]="fechaVence.invalid" *ngIf="fechaVence.errors?.['required']">
          * La fecha de vencimiento es requerida
        </mat-error>
        <mat-datepicker-toggle
          matSuffix
          [for]="vencimiento"
        ></mat-datepicker-toggle>
        <mat-datepicker #vencimiento></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar categoría</mat-label>
        <mat-select #idCategoria="ngModel"  id="idCategoria" name="idCategoria"  [(ngModel)]="setLicences.idCategoria">
          <mat-option
            *ngFor="let categoriaLic of categoriasLicencia"
            [value]="categoriaLic.id"
          >
            {{ categoriaLic.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="step-btn-container ">
    <button class="add-button" mat-flat-button color="primary" (click)="addReference()"><mat-icon>playlist_add</mat-icon> Adicionar</button>
  </div>
  <div class="scroller-table table-licence">
    <table mat-table class=" demo-table table-form-hv" [dataSource]="this.myReferenceArray" *ngIf="this.myReferenceArray.length > 0">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha_vence">
            <th mat-header-cell *matHeaderCellDef>Fecha vencimiento</th>
            <td mat-cell *matCellDef="let element">{{element.fechaVence | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoría</th>
            <td mat-cell *matCellDef="let element">{{labelTable(element.idCategoria, categoriasLicencia) }}</td>
        </ng-container>

        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef>Borrar</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <mat-icon matTooltip="Borrar elemento" class="ico-table" (click)="borrarItem(i)">delete</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsReference"></tr>
        <tr class="row-peritaje" mat-row *matRowDef="let row; columns: columnsReference;">
        </tr>
    </table>

</div>


  <mat-divider></mat-divider>
  <div class="subtitle-container">
    <mat-icon>diversity_3</mat-icon>
    <h2 class="subtitle-hv">Características</h2>
  </div>
  <mat-grid-list
    #grid
    [cols]="cols"
    rowHeight="85px"
    gutterSize="10px"
  >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar identidad étnica</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.id_rh_color_piel"
        name="id_rh_color_piel" #id_rh_color_piel="ngModel" id="id_rh_color_piel">
          <mat-option
            *ngFor="let colorPiel of coloresPiel"
            [value]="colorPiel.id"
          >
            {{ colorPiel.descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Seleccionar grupo sanguíneo</mat-label>
        <mat-select [(ngModel)]="todosCandidatoStorage.candidato.id_rh_grupo_sanguineo"
        name="id_rh_grupo_sanguineo" required #id_rh_grupo_sanguineo="ngModel" id="id_rh_grupo_sanguineo">
          <mat-option
            *ngFor="let grupoSangre of gruposSanguineos"
            [value]="grupoSangre.id"
          >
            {{ grupoSangre.descripcion }}
          </mat-option>
        </mat-select>
        <mat-error class="message-error" [class.invalid]="id_rh_grupo_sanguineo.invalid" *ngIf="id_rh_grupo_sanguineo.errors?.['required']">
          *El grupo sanguíneo es requerido, debe seleccionar una opción.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="left-grid-position">
      <fieldset>
        <div class="container-hv-radios">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="todosCandidatoStorage.candidato.rh"
      name="rh" #rh="ngModel" id="rh" color="primary" required>
        <mat-radio-button [value]="0">Positivo +</mat-radio-button>
        <mat-radio-button [value]="1">Negativo -</mat-radio-button>
      </mat-radio-group>
      </div>
      </fieldset>
      <mat-error class="message-error error-radio" [class.invalid]="rh.invalid" *ngIf="rh.errors?.['required'] && rh.touched">
        *El factor RH es requerido.
      </mat-error>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Peso en kg</mat-label>
        <input
          matInput
          type="number"
          placeholder="0"
          name=""
          [(ngModel)]="todosCandidatoStorage.candidato.peso"
        name="peso" #peso="ngModel" id="peso"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Altura en metros</mat-label>
        <input
          matInput
          type="number"
          placeholder="0"
          name=""
          [(ngModel)]="todosCandidatoStorage.candidato.altura"
        name="altura" #altura="ngModel" id="altura"
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="step-btn-container">
    <button class="stepper-main-btn" mat-button matStepperPrevious>
      Atrás
    </button>
    <button type="button" class="stepper-main-btn" mat-button (click)="guardarProgreso()">
      Guardar progreso
    </button>
    <button [disabled]="disabledButtonNext" class="stepper-main-btn" mat-button matStepperNext>
      Siguiente
    </button>
  </div>
</form>
