mat-toolbar {
  flex-direction: column;
  height: 165px;
  background-color: #2675bb;
  color: white;
  h1 {
    font-size: 35px;
    margin: 1em 0;
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    text-decoration: underline;
  }
  p {
    font-size: 18px;
    margin-bottom: 1em;
  }
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #2f57a4;
  color: #fff;
}
.mat-step-header .mat-step-icon {
  background-color: #7a8b9b;
  color: #fff;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #3f51b5;
  color: #fff;
}
.content-title-logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0.5em;
  img {
    width: 80px;
    margin: 0 1em 0 0;
  }
}
